ion-content {
  font-family: Georgia, Times, "Times New Roman", serif;
  height: 100%;
}

ion-tab-bar {
  background-color: white !important;
  --ion-background-color: linear-gradient(
    0deg,
    white 0%,
    white 100%
  );
}

.botones-flotantes {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    margin-top: -35px; /* Ajusta este valor según sea necesario */
    margin-right: 10px; /* Ajusta este valor según sea necesario */
  }
  
  ion-modal#example-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }

  .wrapper {
    border-radius: 15px;
    border: 3px solid #fff;
  }