<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" fill="outline" (click)="navigateBack()" shape="round" color="saffron">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>CSV - Piedra, Papel o Tijera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="title">
    <h2>{{ msgTitulo }}</h2>    
  </div>

  <div style="margin-top: 10px; margin-left: 10px; font-size: 30px;">
    <ion-icon *ngFor="let icon of getIconArray()" [color]="icon.color" name="heart-circle-outline"></ion-icon>
  </div>

  <div class="score-board">
    <div id="user-label" class="badge">{{ user.nombre }}</div>
    <div id="comp-label" class="badge">CSV</div>
    <span id="user-score">{{ pointsUser }}</span>:<span id="comp-score">{{ pointsComp }}</span>
    <p class="info-game">Turnos: {{turnos}}</p>
  </div>
  
  <div *ngIf="mostrar">
    <p class="info-game">{{result}}</p>
    
    <div class="choices">
        <div class="choice" (click)="play('r')">
          <img src="../../assets/images/juego/rock.png" />
        </div>
        <div class="choice" (click)="play('p')">
          <img src="../assets/images/juego/paper.png" />
        </div>
        <div class="choice" (click)="play('s')">
          <img src="../assets/images/juego/scissors.png" />
        </div>
        
    </div>    
   

  </div>

</ion-content>
<ion-footer>
  <div class="title">
    <h4>{{ msgRes }}</h4>  
  </div>
</ion-footer>
