.botones-flotantes {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    margin-top: -35px; /* Ajusta este valor según sea necesario */
    margin-right: 10px; /* Ajusta este valor según sea necesario */
  }
  