<ion-header>
  <ion-toolbar>
    <ion-title><img src="../../../assets/icon/icon.png" alt=""></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content slot="fixed">
  <h1 style="text-align: center;" *ngIf="authSrv.tipo === 'cliente'">Registro Cliente</h1>
  <h1 style="text-align: center;" *ngIf="authSrv.tipo === 'anonimo'">Registro Anónimo</h1>

  <form [formGroup]="formData">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle style="color:white">Ingrese sus datos</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="ion-padding mt-3">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6" class="d-flex flex-column justify-content-end">
              <div>
                <ion-input label="Nombre" label-placement="floating" fill="solid" placeholder="Ingresar nombre"
                  formControlName="nombre"></ion-input>
                <ion-label class="invalid"
                  *ngIf="formData.controls['nombre'].errors?.['required'] && formData.controls['nombre'].touched">
                  Nombre inválido.
                </ion-label>

              </div>

            </ion-col>
            <ion-col size="6">
              <div class="position">
                <ion-button style="width: 130px; height: 75px" fill="outline" (click)="SacarFoto()">
                  <img src="../../../assets/images/camara-reflex-digital.png" alt="" style="width: 10rem;">
                </ion-button>
                <ion-img class="foto" [src]='this.dataUrl' id="foto"></ion-img>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div *ngIf="authSrv.tipo === 'cliente'">
                <ion-input type="text" label="Apellido" label-placement="floating" fill="solid"
                  placeholder="Ingrese su Apellido" formControlName="apellido" required></ion-input>
                <ion-label class="invalid"
                  *ngIf="formData.controls['apellido'].errors?.['required'] && formData.controls['apellido'].touched">
                  Apellido inválido.
                </ion-label>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <div *ngIf="authSrv.tipo === 'cliente'">
                <ion-input type="number" label="DNI" label-placement="floating" fill="solid"
                  placeholder="Ingrese su DNI" formControlName="dni" required></ion-input>

                <ion-label class="invalid" *ngIf="formData.controls['dni'].errors?.['required'] && formData.controls['dni'].touched
                    || (formData.controls['dni'].errors?.['min'] || formData.controls['dni'].errors?.['max'])">
                  DNI inválido.
                </ion-label>
              </div>
            </ion-col>
            <ion-col size="6">
              <!--  -->
              <div *ngIf="authSrv.tipo === 'cliente'">
                <ion-input type="number" label="CUIL" label-placement="floating" fill="solid"
                  placeholder="Ingrese su CUIL(Solo números, sin guiones)" formControlName="cuil" required></ion-input>

                <ion-label class="invalid"
                  *ngIf="formData.controls['dni'].errors?.['required'] && formData.controls['dni'].touched">
                  Se debe ingresar un CUIL.
                </ion-label>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <div *ngIf="authSrv.tipo === 'cliente'">
                <ion-input type='email' label="Correo electrónico" label-placement="floating" fill="solid" required
                  formControlName="email" placeholder="Ingrese su Correo electrónico"></ion-input>
                <ion-label class="invalid" *ngIf="formData.controls['email'].errors?.['required'] && formData.controls['email'].touched
                || formData.controls['email'].errors?.['email']">
                  Correo inválido.
                </ion-label>
              </div>
            </ion-col>
            <ion-col size="6">
              <div *ngIf="authSrv.tipo === 'cliente'">
                <ion-input type='password' label="Contraseña" label-placement="floating" fill="solid" required
                  id="password" formControlName="password" placeholder="Ingrese su contraseña"></ion-input>
                <ion-label class="invalid"
                  *ngIf="formData.controls['password'].errors?.['required'] && formData.controls['password'].touched">
                  Contraseña inválida.
                </ion-label>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button type="submit" class="ingreso" fill="solid" expand="block"
      style="margin-top: 23px;" [disabled]="formData.invalid">Enviar</ion-button>
      </ion-card-content>
    </ion-card>



    
  </form>

</ion-content>

<ion-fab horizontal="center" vertical="bottom" *ngIf="authSrv.tipo === 'cliente'">
  <ion-fab-button data-desc2="">
  </ion-fab-button>
</ion-fab>
<ion-fab horizontal="center" vertical="bottom" *ngIf="authSrv.tipo === 'cliente'">
  <ion-fab-button data-desc="Escanear DNI">
    <ion-icon name="barcode-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-footer>
  <ion-toolbar >
  </ion-toolbar>
</ion-footer>