ion-header {
  --ion-background-color: linear-gradient(
    0deg,
    #4363AC 0%,
    #00AFEF 100%
  );
  ion-title {
    color: white;
    font-weight: bold;
  }
}
ion-content {
  background: rgb(0, 0, 0);
//background: 
font-family: Georgia, Times, "Times New Roman", serif;
height: 100%;
  --ion-background-color: linear-gradient(
    0deg,
    #4363AC 0%,
    #00AFEF 100%
  );
}
ion-card {
  --background: #00AFEF;
  --background: linear-gradient(180deg,
      #4363AC 0%,
      #00AFEF 100%);
  box-shadow: 9px 11px 10px #000;
  color: white;
  border-radius: 15px;

  ion-card-content {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
  }
  
}
.ingresoRapido {
  height: 5rem;
  border-radius: 50%;
}
ion-button {
  position: relative;

  p {
      color: #000;
      font-weight: 700;
      font-size: small;
      align-items: center;
  }
  img {
    border-radius: 50%;
  }
}
.pipe-chart-container,
.bar-chart-container {
  background-color: white;
  display: inline-block;
  position: relative;
  width: 100%;
  margin: auto;
  margin-top: 2rem;
}

