.leyenda {
    font-size: 10px;
}

hr {
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid;
    border-color: grey;
}

ion-header {
    ion-toolbar {
        --background: #00AFEF;
        --background: linear-gradient(180deg,
                #4363AC 0%,
                #00AFEF 100%);
    }

    ion-title {
        color: white;
        font-weight: bold;
    }
}


ion-content {
    --background: #00AFEF;
    --background: linear-gradient(180deg,
            #4363AC 0%,
            #00AFEF 100%);


}

p {
    font-size: 12px;
    font-weight: bold;
    color: white;
}

ion-card {
    --background: #00AFEF;
    --background: linear-gradient(180deg,
            #4363AC 0%,
            #00AFEF 100%);
    box-shadow: 8px 10px 10px 1px rgba(0, 0, 0, 0.5);
    border-radius: 15px;

    ion-label {
        color: white;
        font-weight: bold;
    }

    ion-icon {
        color: white;
    }

    ion-textarea {
        --background: white;
        --color: black;
        --padding-end: 10px;
        --padding-start: 10px;
        --placeholder-color: #ddd;
        --placeholder-opacity: 0.8;
    }

    ion-textarea.custom .helper-text,
    ion-textarea.custom .counter,
    ion-textarea.custom .counter {
        --color: white;
    }

}