<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" fill="outline" (click)="navigateBack()" shape="round"
    color="saffron">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
  </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item  class="lista" *ngFor="let product of this.prods$ | async">
      <ion-button>
      <ion-icon item-left name="eye-outline"></ion-icon>
      </ion-button>
      <ion-label>
        <h2 text-wrap>{{product.descripcion}}</h2>
        <p style="color:white">{{product.precio | currency }}</p>
      </ion-label>
      <div item-end>
        <ion-button id="btn-add" color="success" (click)="setQuantity(product, '+')">+</ion-button>
        <p style="font-size: 15px; color: white">{{ getQuantity(product) }}</p>
        <ion-button id="btn-less" color="danger" (click)="setQuantity(product, '-')">-</ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="this.getAcum() > 0">
  <ion-list no-margin>
    <ion-item no-padding>
      <ion-label padding-left>
        <strong>TOTAL: </strong>
        <span>{{ this.getAcum() | currency }}</span>
      </ion-label>
      <ion-button [disabled]="this.getAcum() < 0" item-end ion-button color="danger" (click)="clickBeforeConfirm()" icon-left>
        <ion-icon name="cart"></ion-icon>
        Finalizar Pedido
      </ion-button>
    </ion-item>
  </ion-list>
</ion-footer>
