<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" fill="outline" (click)="navigateBack()" shape="round"
    color="saffron">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
  </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-cards">
    <ion-card>
      <table>
        <thead>
          <tr>
            <th></th>
            <th><p style="font-size: 14px;color:white">NOMBRE</p></th>
            <th><p style="font-size: 14px;color:white">PRECIO</p></th>
            <th><p style="font-size: 14px;color:white">CANTIDAD</p></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let product of this.prods$ | async">
            <td><ion-button (click)="clickDetails(product)">Ver</ion-button></td>
            <td><p style="font-size: 20px;color:white">{{ product.descripcion }}</p></td>
            <td><p style="font-size: 20px;color:white">{{product.precio | currency }}</p></td>

            <td>
              <div class="container-btn">
                <ion-button id="btn-add" (click)="setQuantity(product, '+')">+</ion-button>
                <p style="font-size: 15px; color: white">{{ getQuantity(product) }}</p>
                <ion-button id="btn-less" (click)="setQuantity(product, '-')">-</ion-button>
              </div>
            </td>
          </tr>
        </tbody>

      </table>
    </ion-card>
  </div>

  <div (click)="clickBeforeConfirm()" *ngIf="this.getAcum() > 0" class="container-cards container-resume">
    <ion-card>
      <p style="font-size: 23px;">VER PEDIDO <br><br> PRECIO: ({{ this.getAcum() | currency }} )</p>
      <p style="font-size: 23px;">TIEMPO ESTIMADO: {{ this.getAproxFinish() }} minutos</p>
    </ion-card>
  </div>

</ion-content>
