<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" fill="outline" (click)="navigateBack()" shape="round" color="saffron">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let product of this.prods$ | async">

      <ion-grid>
        <ion-row>
          <div class="thumbnail-container">

            <ion-col>
              <button class="thumbnail-button" (click)="expandImage(product.img[0])">
                <ion-icon item-left name="eye-outline"></ion-icon>
              </button>
            </ion-col>

            <ion-col>
              <button class="thumbnail-button" (click)="expandImage(product.img[1])">
                <ion-icon item-left name="eye-outline"></ion-icon>
              </button>
            </ion-col>

            <ion-col>
              <button class="thumbnail-button" (click)="expandImage(product.img[2])">
                <ion-icon item-left name="eye-outline"></ion-icon>
              </button>
            </ion-col>

          </div>
        </ion-row>
      </ion-grid>

      <ion-label>
        <h2 text-wrap style="text-transform: uppercase; color: white; ">{{product.descripcion}}</h2>
        <p style="color:white; font-size: 20px;">{{product.precio | currency }}</p>
      </ion-label>

      <div item-end>
        <ion-button id="btn-add" style="font-size: 15px;" color="success" (click)="setQuantity(product, '+')"><b>+</b></ion-button>
        <p style="font-size: 15px; color: white"><b>{{ getQuantity(product) }}</b></p>
        <ion-button id="btn-less" style="font-size: 15px;" color="danger" (click)="setQuantity(product, '-')"><b>-</b></ion-button>
      </div>

    </ion-item>
  </ion-list>


  <div>
    <div class="expanded-image-container" *ngIf="expandedImage">
      <img [src]="expandedImage" alt="Imagen Ampliada" class="expanded-image">
      <ion-button fill="clear" (click)="closeExpandedImage()" class="close-button">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  <app-spinner [mostrar]="spinner"></app-spinner>
</ion-content>


<ion-footer *ngIf="this.getAcum() > 0">
  <ion-list no-margin>
    <ion-item no-padding>
      <ion-label padding-left>
        <strong>TOTAL: </strong>
        <span>{{ this.getAcum() | currency }}</span>
        <br>
        <strong>Estimado:</strong>
        <span>{{ this.getAproxFinish() }} minutos</span>
      </ion-label>
      <ion-button [disabled]="this.getAcum() < 0" item-end ion-button color="danger" (click)="clickBeforeConfirm()"
        icon-left>
        <ion-icon name="cart"></ion-icon>
        Confirmar Pedido
      </ion-button>
    </ion-item>
  </ion-list>
</ion-footer>