img {
    max-height: 7rem;
    min-height: 7rem;
    max-width: 7rem;
    min-width: 7rem;
  }
  
  ion-card {
    display: flex;
    justify-content: space-between;
  }
  
  .details {
    text-align: end;
    padding-right: 1%;
    color: white;
  }
  
  p {
    margin-top: 5%;
  }

  ion-content {
    background: rgb(0, 0, 0);
    //background: 
    font-family: Georgia, Times, "Times New Roman", serif;
    height: 100%;
    --ion-background-color: linear-gradient(0deg,
        #4363AC 0%,
        #00AFEF 100%);
  }
  