<ion-header *ngIf="!scanActive">
  <ion-toolbar>
    <ion-title>
      <div class="d-flex justify-content-between align-items-center">

        <div>
          <img src="../../assets/icon/icon.png" alt="">
        </div>
        <div class="d-flex">

          <h4>{{user?.correo}}</h4>
          <img src="{{user?.img}}" alt="">
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [ngClass]="scanActive?'scanner-activo':''">

  <div class="ion-padding" *ngIf="!scanActive">

    <div class="barra" *ngIf="this.user?.perfil == 'CLIENTE'">

      <div [ngSwitch]="hasWait?.estado">

        <div *ngIf="!hasWait">

          <ion-card class="button" (click)="escanearQR()">
            <ion-card-content>
              <div>
                <ion-icon name="qr-code-outline" style="font-size: 20rem;"></ion-icon>
              </div>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-content>
              Escanea el código QR para ingresar en la lista de espera
            </ion-card-content>
          </ion-card>
        </div>

        <div *ngSwitchCase="'PENDIENTE'">
          <ion-card>
            <ion-card-content>
              <app-spinner *ngIf="spinner"></app-spinner>
              Espera mientras se te asigna una mesa...
            </ion-card-content>
          </ion-card>
        </div>

        <div class="texto" *ngSwitchCase="'EN USO'">
          <div *ngIf="hasRequest">
            <ion-card class="flex-column ion-padding">
              <ion-card-content>
                <ion-card class="button ion-padding" (click)="escanearQR()">
                  <ion-card-content>
                    <div>
                      <ion-icon name="qr-code-outline" style="font-size: 15rem;"></ion-icon>
                    </div>
                  </ion-card-content>

                </ion-card>
                <h1>Mesa <b> {{hasRequest?.mesa_numero}}</b></h1>
                <h4>Escanee el QR de la mesa para realizar su pedido o ver el estado de su pedido y hacer consultas al
                  mozo.</h4>

              </ion-card-content>

            </ion-card>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- HOME CLIENTE -->
  <ion-grid *ngIf="!scanActive ">

    <ion-row>
      <div></div>
      <app-barra></app-barra>

    </ion-row>

  </ion-grid>
  <!-- ESCANER -->
  <div class="visor" *ngIf="scanActive">
    <h2 class="titulo" *ngIf="scanActive">ESCANEANDO...</h2>
    <p class="monto" [ngClass]="scanActive?'scanner-activo-visor':''">
      <span></span>
    </p>
  </div>
  <div class="centrado">
    <button class="escanear" expand="block" type="button" (click)="stopScan()" *ngIf="scanActive">
      <ion-text style="
          color: #fff;
          text-shadow: 2px 2px 4px #000;
          font-size: 1.7rem;
          font-family: fantasy;
        ">DETENER <ion-icon name="qr-code-outline"></ion-icon></ion-text>
    </button>
  </div>




</ion-content>