<ion-header *ngIf="!scanActive">
  <ion-toolbar>
    <ion-title>
      <div class="d-flex justify-content-between align-items-center">

        <div>
          <img src="../../assets/icon/icon.png" alt="">
        </div>
        <div class="d-flex">

          <h4>{{user.correo}}</h4>
          <img src="{{user.img}}" alt="">
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [ngClass]="scanActive?'scanner-activo':''">

  <!-- HOME CLIENTE -->
  <ion-grid class="ion-padding barra" style="width: 100%; height: 100%;" *ngIf="!scanActive ">
    <div class="barra">

      <ion-row style="flex-grow: 1; margin-bottom: 1rem; height: auto;" *ngIf="user.perfil === 'CLIENTE'">
        <div  *ngIf="!grid">

          <ion-col  >
            <div>
              <ion-icon name="qr-code-outline" style="font-size: 20rem;"></ion-icon>
            </div>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-card-content>
                Escanea el código QR para ingresar en la lista de espera
              </ion-card-content>
            </ion-card>
          </ion-col>
        </div>
      </ion-row>

        <ion-row *ngIf="user.perfil === 'CLIENTE'">
          <ion-col *ngIf="waitlist">
            <ion-card>              
              <ion-card-content>
                <app-spinner *ngIf="spinner"></app-spinner>
                Espera mientras se te asigna una mesa...
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>

    <ion-row>
      <div></div>
      <app-barra></app-barra>

    </ion-row>

  </ion-grid>
  <!-- ESCANER -->
  <div class="visor" *ngIf="scanActive">
    <h2 class="titulo" *ngIf="scanActive">ESCANEANDO...</h2>
    <p class="monto" [ngClass]="scanActive?'scanner-activo-visor':''">
      <span></span>
    </p>
  </div>
  <div class="centrado">
    <button class="escanear" expand="block" type="button" (click)="stopScan()" *ngIf="scanActive">
      <ion-text style="
          color: #fff;
          text-shadow: 2px 2px 4px #000;
          font-size: 1.7rem;
          font-family: fantasy;
        ">DETENER <ion-icon name="qr-code-outline"></ion-icon></ion-text>
    </button>
  </div>




</ion-content>