<ion-header *ngIf="!scanActive">
  <ion-toolbar>
    <ion-title>
      <div class="d-flex justify-content-between align-items-center">

        <div>
          <img src="../../assets/icon/icon.png" alt="">
        </div>
        <div class="d-flex">

          <h4>{{user?.correo}}</h4>
          <img src="{{user?.img}}" alt="">
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [ngClass]="scanActive?'scanner-activo':''">
  <div class="ion-padding" *ngIf="!scanActive" >

    <div class="barra" *ngIf="this.user?.perfil == 'CLIENTE' || this.user?.perfil == 'ANONIMO'">
      <!-- [ngSwitch]="hasWait?.estado | async" -->
      <div >
        <div *ngIf="us == [] || us == 'FINALIZADO'">

          <ion-card class="button" (click)="escanearQR()">
            <ion-card-content>
              <div>
                <ion-icon name="qr-code-outline" style="font-size: 20rem;"></ion-icon>
              </div>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-content>
              Escanea el código QR para ingresar en la lista de espera
            </ion-card-content>
          </ion-card>
        </div>
        <!-- *ngSwitchCase="'PENDIENTE'" -->
        <div *ngIf="us == 'PENDIENTE'">
          <ion-card class="ion-padding">
            <ion-card-content>
              <ion-card>
                <ion-card-content>
                  <div class="d-flex justify-content-center">

                    <ion-spinner class="spinner spinner-overlay spinner-image"></ion-spinner>
                  </div>

                </ion-card-content>
              </ion-card>
              <div class="mt-3">
                Espere mientras se le asigna una mesa...
                
              </div>
            </ion-card-content>
          </ion-card>
        </div>
        <!-- *ngSwitchCase="'EN USO'" -->
        <div class="texto" *ngIf="us == 'EN USO'">
          <!-- *ngIf="hasRequest" -->
          <div >

            <ion-card class="flex-column">
              <ion-card-content>

                <ion-card class="button ion-padding" (click)="escanearQR()">
                  <ion-card-content>
                    <div>
                      <ion-icon name="qr-code-outline" style="font-size: 15rem;"></ion-icon>
                    </div>
                  </ion-card-content>
                </ion-card>

                <h1>Mesa asignada:<b> {{hasRequest?.mesa_numero}}</b></h1>
                <h4>Escanee el QR de la mesa para realizar su pedido o ver el estado de su pedido y hacer consultas al
                  mozo.</h4>

              </ion-card-content>

            </ion-card>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- HOME CLIENTE -->
  <!-- <ion-grid *ngIf="!scanActive ">

    <ion-row>
      <div></div>
      <app-barra [usuario]="this.user" [spinner]="this.spinner"></app-barra>

    </ion-row>

  </ion-grid> -->
  <!-- ESCANER -->
  <div class="visor" *ngIf="scanActive">
    <h2 class="titulo" *ngIf="scanActive">ESCANEANDO...</h2>
    <p class="monto" [ngClass]="scanActive?'scanner-activo-visor':''">
      <span></span>
    </p>
  </div>
  <div class="centrado">
    <button class="escanear" expand="block" type="button" (click)="stopScan()" *ngIf="scanActive">
      <ion-text style="
          color: #fff;
          text-shadow: 2px 2px 4px #000;
          font-size: 1.7rem;
          font-family: fantasy;
        ">DETENER <ion-icon name="qr-code-outline"></ion-icon></ion-text>
    </button>
  </div>

  <div *ngIf="!scanActive">
    <ion-modal id="example-modal" #modal [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
      <ng-template>
        <div class="wrapper" style="padding: 10px; padding-bottom: 30px">
  
          <ion-grid>
  
            <ion-row>
              <button *ngIf="user?.perfil === 'SUPERVISOR' || user?.perfil === 'DUENIO'" expand="full"
                class="btn btn-primary" style="
                margin: 1rem;
                width: 13rem;
                font-size: 1.3rem;
                text-shadow: 1px 1px 1px #000;
                box-shadow: 2px 2px 4px #000;
              " (click)="modal.dismiss()" (click)="altaEmpleado()">Alta Empleado</button>
            </ion-row>
  
            <ion-row>
              <button *ngIf="user?.perfil === 'SUPERVISOR' || user?.perfil === 'DUENIO'" expand="full"
                class="btn btn-primary" style="
                margin: 1rem;
                width: 13rem;
                font-size: 1.3rem;
                text-shadow: 1px 1px 1px #000;
                box-shadow: 2px 2px 4px #000;
              " (click)="modal.dismiss()" (click)="altaSupervisor()">Alta Supervisor/Dueño</button>
            </ion-row>
  
            <ion-row>
              <button *ngIf="user?.rol === 'METRE'" expand="full" class="btn btn-light" style="
                margin: 1rem;
                width: 13rem;
                font-size: 1.3rem;
                text-shadow: 1px 1px 1px #000;  
                box-shadow: 2px 2px 4px #000;
              " (click)="modal.dismiss()" (click)="altaCliente('cliente')">Alta Cliente</button>
            </ion-row>
  
          </ion-grid>
  
        </div>
      </ng-template>
    </ion-modal>
  
    <ion-tabs>
      <ion-tab-bar slot="bottom" style="background-color: white !important; color: white;">
  
        <ion-tab-button (click)="goHome()">
          <ion-icon color="secondary" name="home-outline" aria-hidden="true"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>
  
        <ion-tab-button id="open-custom-dialog"
          *ngIf="user?.rol === 'METRE' || user?.perfil === 'SUPERVISOR' || user?.perfil === 'DUENIO'"
          (click)="modal.present()">
          <ion-icon color="secondary" name="add-circle-outline" aria-hidden="true"></ion-icon>
          <ion-label>Altas</ion-label>
        </ion-tab-button>
  
        <ion-tab-button id="open-custom-dialog" *ngIf="user?.perfil === 'SUPERVISOR' || user?.perfil === 'DUENIO'"
          (click)="goGestion()">
          <ion-icon color="secondary" name="person-add-outline" aria-hidden="true"></ion-icon>
          <ion-label>Clientes</ion-label>
        </ion-tab-button>
  
        <ion-tab-button id="open-custom-dialog" *ngIf="user?.rol === 'METRE'" (click)="goClientes()">
          <ion-icon color="secondary" name="person-add-outline" aria-hidden="true"></ion-icon>
          <ion-label>Clientes</ion-label>
        </ion-tab-button>
        <ion-tab-button *ngIf="(user?.rol === 'METRE') || (user?.perfil === 'SUPERVISOR' || user?.perfil === 'DUENIO')"
          (click)="goEncuestas()">
          <ion-icon color="secondary" name="cash" aria-hidden="true"></ion-icon>
          <ion-label>Encuestas</ion-label>
        </ion-tab-button>
  
        <!-- CLIENTE -->
        <ion-tab-button *ngIf="(user?.perfil === 'CLIENTE' && hasRequest?.mesa_numero)" (click)="goConsultas()">
          <!-- aca abria luego q verificar q tiene mesa, sino esto no se muestra-->
          <ion-icon color="secondary" name="chatbox-ellipses-outline" aria-hidden="true"></ion-icon>
          <ion-label>Consultas</ion-label>
        </ion-tab-button>
  
        <!-- MOZO -->
        <ion-tab-button *ngIf="(user?.rol === 'MOZO')" (click)="goConsultas()">
          <ion-icon color="secondary" name="chatbox-ellipses-outline" aria-hidden="true"></ion-icon>
          <ion-label>Consultas</ion-label>
        </ion-tab-button>
  
        <ion-tab-button *ngIf="(user?.rol === 'MOZO' || user?.rol === 'BARTENDER' || user?.rol === 'COCINERO')"
          (click)="goListaPedidos()">
          <ion-icon color="secondary" name="fast-food-outline" aria-hidden="true"></ion-icon>
          <ion-label>Pedidos</ion-label>
        </ion-tab-button>
  
        <ion-tab-button *ngIf="(user?.perfil === 'CLIENTE' && us == 'PENDIENTE')" (click)="goGraficos()">
          <!-- aca abria luego q verificar q tiene mesa, sino esto no se muestra-->
          <ion-icon color="secondary" name="bar-chart-outline" aria-hidden="true"></ion-icon>
          <ion-label>Estadística</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="logOut()">
          <ion-icon color="danger" name="exit" aria-hidden="true"></ion-icon>
          <ion-label>Salir</ion-label>
        </ion-tab-button>
  
      </ion-tab-bar>
    </ion-tabs>
  </div>
</ion-content>

