ion-content {
    background: rgb(0, 0, 0);
    //background: 
    font-family: Georgia, Times, "Times New Roman", serif;
    height: 100%;
    --ion-background-color: linear-gradient(
        0deg,
        #4363AC 0%,
        #00AFEF 100%
      );
}